<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="$CSS_URL"/>
<style>
body { padding-top: 20px; }
#logo {
    position: relative;
}
#logo img {
    position: absolute;
    top: 15px;
    right: 15px;
}
@media (max-width: 900px) {
    #logo {
        padding-bottom: 30px;
    }
}
#report {
    padding: 0 2em 0 2em;
}
</style>

</head>
<body>
<div id="logo">
    <img src="$LOGO_URL">
</div>
<div id="report">
$REPORT_HTML
</div>
</body>
