
# DOCKER IMAGE REPORT

## IMAGE:

$image

## TIME:

$time

## BUILD EFFICIENCY:

$efficiency

## PUSHED BY:

$who

## LABELS:

$labels

## JAVA:

$java

## NODE:

$node

## OS:

$os

## WARNINGS:

$warnings

## ACTION TAKEN:

$action

---

## HISTORY:

$history



